<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
<div  th:replace="admin_fragments/admin_header :: header" ></div>
<style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black; 
        }
    </style>
<body>
	<div  th:replace="admin_fragments/admin_navbar :: admin_navbar" ></div>
	
	<div class="row">
		<div class="col-2">
			<div  th:replace="admin_fragments/admin_sidebar :: admin_sidebar" ></div>
		</div>
		<div class="col-10">
			 <h2 class="text-center mt-5 h-title">Quản lý sản phẩm</h2>
    
			<div class="mx-auto" style="width:90%;" >
				<a th:href="@{/admin/product/new}" class="mb-5 fs-5 fw-bold">Thêm sản phẩm mới</a>
				<div th:if="${message}" class="alert alert-success text-center">
					[[${message}]]
				</div>
				<table class="table table-border" style="background:rgba(9, 40, 112, 0.05)">
					<thead>
						<tr class="text-center">
							<th scope="col">ID</th>
							<th scope="col">Tên sản phẩm</th>
							<th scope="col">Giá sản phẩm</th>
							<th scope="col">Số lượng</th>
							<th scope="col">Mô tả</th>
							<th scope="col">Hình ảnh</th>
							<th> </th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="product: ${listProducts}">
						<tr >
							<td class="text-center">[[${product.productID}]]</td>
							<td>[[${product.productName}]]</td>
							<td>[[${product.productPrice}]]</td>
							<td>[[${product.productQuantity}]]</td>
							<td class="w-25">[[${product.productDescription}]]</td>
							<td style="width:10%"><img th:src="@{'/img/product/'+${product.productImage}}"  class="w-100"></img></td>
							<td class="fs-6 fw-bold text-center">
								<a th:href="@{'/admin/product/update/' +${product.productID}}" class="me-3">Chỉnh sửa</a>
								<a th:href="@{'/admin/product/hidden/' +${product.productID}}" class="me-3">Ẩn</a>
							</td>
						</tr>
						</th:block>
					</tbody>
				</table>	
				<a th:href="@{/admin/product/listHidden}" class="me-3 mb-5 fs-5 fw-bold">Phục hồi sản phẩm</a>		
			</div>
		</div>
	</div>	

	<div  th:replace="admin_fragments/admin_footer :: admin_footer" ></div>
	
</body>
</html>