<div th:fragment="admin_navbar">
	<!-- Spinner Start -->
	<div id="spinner"
		class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
		<div class="spinner-border text-primary" role="status"
			style="width: 3rem; height: 3rem;"></div>
	</div>
	<!-- Spinner End -->


	<!-- Navbar Start -->
	<div class="container-fluid bg-white sticky-top">
		<div >
			<nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0" style=" border-bottom: 2px solid #092870; max-height:50px">
				<div class="nav-item nav-link  ms-auto">
					<a href="/logout"  class="navbar-nav fw-bold fs-5">ĐĂNG XUẤT</div>
				</div>
			</nav>
		</div>
	</div>
</div>


